# Copy to deploy/home/config.yml after: cloudflared tunnel create cine3d-api
# credentials-file is written by cloudflared into %USERPROFILE%\.cloudflared\

tunnel: REPLACE_WITH_TUNNEL_UUID
credentials-file: C:\Users\REPLACE_WINDOWS_USER\.cloudflared\REPLACE_WITH_TUNNEL_UUID.json

ingress:
  - hostname: api.cine3d.id.vn
    service: http://127.0.0.1:5000
    originRequest:
      connectTimeout: 30s
      keepAliveTimeout: 90s
  - hostname: cine3d.id.vn
    service: http://127.0.0.1:3000
    originRequest:
      connectTimeout: 30s
      keepAliveTimeout: 90s
  - hostname: www.cine3d.id.vn
    service: http://127.0.0.1:3000
    originRequest:
      connectTimeout: 30s
      keepAliveTimeout: 90s
  - service: http_status:404
